input {
    color: #fff;
    font-size: large;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

.short-input {
    width: 120px;
    height: 25px;
    margin-right: 7px;

    background-color: black;
    border: #818384 2px solid;
    display: inline-block;
    text-align: center;
}

.short-input:last-child {
    margin-right: 0;
}

.short-input_value {
    background-color: #538D4E;
    border: #538D4E 2px solid;
}

.long-input {
    width: 660px;
    height: 25px;

    background-color: black;
    border: #818384 2px solid;
    display: inline-block;
}