.green-letters {
    margin: 10px auto 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.yellow-letters {
    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grey-letters {
    margin: 10px auto 0;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-container {
    text-align: center;
    margin: 50px auto;
}

.suggestion-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}