.green-letters {
    margin: 10px auto 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.yellow-letters {
    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grey-letters {
    margin: 10px auto 0;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-container {
    text-align: center;
    margin: 50px auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.dropdown-container {
    max-width: 800px;
    margin: 0 auto 10px;
    text-align: center;
}

.custom-dropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.select-selected {
    background-color: #538D4E;
    font-size: large;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #538D4E;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.word-list_info {
    color: white;
    font-size: large;
    font-weight: bold;
    padding-top: 6px;
}

.manual-container {
    max-width: 800px;
    text-align: center;
    margin: 30px auto;
}

.display-manual {
    color: #B59F3B;
    font-size: large;
    text-decoration: underline;
    text-align: left;
}

.display-manual:hover {
    cursor: pointer;
    color: #538D4E;
}

option:disabled {
    background-color: #818384;
    color: black;
}

#back-button {
    position: absolute;
    left: 80px;
    top: 50px;
}

#back-button:hover {
    cursor: pointer;
}