.green-letters {
    margin: 10px auto 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.yellow-letters {
    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grey-letters {
    margin: 10px auto 0;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}