.wordsTable {
    background-color: white;
    color: black;
    column-gap: 0px;
    column-count: 5;
    margin: 70px 10px;
    margin-left: 550px;
    max-height: 450px;
    max-width: 800px;
    
    overflow: scroll;
}

td {
    border: 2px solid black;
    border-collapse: collapse;
    
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-size: xx-large;
    

}
